/* @theme sebpiq */

@import 'uncover';

@font-face {
    font-family: 'Silkscreen';
    src: url('./assets/Silkscreen-Regular.ttf');
}

@font-face {
    font-family: 'Rajdhani';
    src: url('./assets/Rajdhani-Regular.ttf');
}

* {
    --sebpiq-color1: #f20089;
    --sebpiq-color2: #bc00dd;
    --sebpiq-color3: #6a00f4;
}

section {
    font-family: 'Rajdhani';
}

h1, h2, h3 {
    font-family: 'Silkscreen';
}

h1 {
    font-size: 120%
}

h2 {
    font-size: 100%
}

h3 {
    font-size: 105%
}

header {
    font-size: 140%;
    font-family: 'Silkscreen';
}

footer {
    font-family: 'Silkscreen';
}

strong { 
    font-family: 'Silkscreen';
}

blockquote p {
    text-align: left;
}

blockquote strong {
    display: block;
    margin-top: 2em;
}

.captions, blockquote strong {
    font-size: 60%;
    font-family: 'Silkscreen';
    text-align: right;
}

p {
    text-align: left;
}

.single-image {
    position: relative;
    width: 80%;
    align-self: center;
}

.single-image .captions {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
}

.single-image img {
    width: 100%;
    height: auto;
}

.column-images {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.column-images img {
    height: 100%;
    width: auto;
    min-width: 0;
}