/* @theme sebpiq */

@import 'uncover';

@font-face {
    font-family: 'Silkscreen';
    src: url('./assets/Silkscreen-Regular.ttf');
}

@font-face {
    font-family: 'Rajdhani';
    src: url('./assets/Rajdhani-Regular.ttf');
}

* {
    --sebpiq-color1: #f20089;
    --sebpiq-color2: #bc00dd;
    --sebpiq-color3: #6a00f4;
}

section {
    font-family: 'Rajdhani';
}

h1, h2, h3 {
    font-family: 'Silkscreen';
}

h1 {
    font-size: 120%
}

h2 {
    font-size: 100%
}

h3 {
    font-size: 105%
}

header {
    font-size: 140%;
    font-family: 'Silkscreen';
}

footer {
    font-family: 'Silkscreen';
}

strong { 
    font-family: 'Silkscreen';
}

blockquote p {
    text-align: left;
}

blockquote strong {
    display: block;
    font-size: 70%;
    text-align: right;
    margin-top: 2em;
}
