@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Shade&family=Geo&family=Orbitron&family=Quantico&family=Rubik+Iso&family=Silkscreen&family=Turret+Road&family=Wallpoet&family=Source+Code+Pro&display=swap');

body {
    max-width: 900px;
    margin: auto;
    font-family: 'Source Code Pro';
    background-color: #161616;
    color: white;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin-top: 2em;
    font-family: 'Silkscreen';
}

h1 {
    color: #FF499E;
}

h2 {
    color: #D264B6;
}

h3 {
    color: #A480CF;
}

h4 {
    color: #779BE7;
}

h5 {
    color: #49B6FF;
    text-transform: uppercase;
}

img, video, iframe {
    width: 100%;
    margin-bottom: 1em;
}

img {
    background-color: white;
}

a, a:visited {
    color: #aaa;
}

.notes {
    display: none;
}

li {
    margin-bottom: 0;
}

.sourceCode {
    background-color: black;
}